extends layout

block content
  h1 Alphabots
  h3 pre-alpha v0.2
  p.story
    | The year is 2672.  The Planet is the newly discovered CyberTrawn. The ruins of an ancient civilization are all around you, but the only signs of life are their robots, roaming the desolate wasteland.  These robots seem well equipped to help colonize this timeworn world, if only you could communicate with them.  The leading scientists of your world have devised language injection units to help teach these robobts.  It is up to you to find and educate these ancient machines.
  if (!email)
    p Please log in to play.
      a.bump(href='/signup') Sign Up
      form(method='post' action='/login')
        p
          label(for='username') Username (e-mail):
        p
          input(type='email' id='username' name='email' required)
        p
          label(for='password') Password:
        p
          input(type='password' id='username' name='pw' required)
        button(type='submit') Log In
  if (email)
    div.left
      p Welcome #{email}.
      p 
        a(href='/start') Continue
        span  | Level #{gameState.level} with #{gameState.scrap} Scrap on Phase #{gameState.phase}
      p
        a(href="/new") New Game
        span  | Warning: This will delete any current game data.
      if highScore  
        p
          h2 Your High Score: Level #{highScore.level} with #{highScore.scrap} total scrap.
    div.right
      form(action='/delete' method='post')
        button#delete(type='submit') DELETE MY ACCOUNT
      p
        a#instructions(href='/instructions') Instructions
  if email
    div#login Logged in as #{email}
      span | 
      a(href='/logout') Log Out