doctype html
html
  head
    title Level #{gameState.level} Phase #{gameState.phase}
    link(rel='stylesheet' href="/stylesheets/other.css")
    script(src='/javascripts/helpers.js')
    script(src="/javascripts/dictionary.js")
    script(src="/javascripts/alphabetDistribution.js")
    script(src='/javascripts/logic.js')
  body
    h2 Help the Robot Fill its Language Modules!
    div#timer
    canvas#bcanvas
    canvas#canvas
    div#under
      div.spacer
      
      // 3 letter 1
      div.fire#fire311
        div.tiles-inactive(id="3.1.1")
        div.tiles-inactive(id="3.1.2")
        div.tiles-inactive(id="3.1.3")
      
      div.spacer
      
      // 4 letter 2
      div.fire#fire411
        div.tiles-inactive(id="4.1.1")
        div.tiles-inactive(id="4.1.2")
        div.tiles-inactive(id="4.1.3")
        div.tiles-inactive(id="4.1.4")
      
      div.spacer
      
      //5 letter
      div.fire#fire501
        div.tiles-inactive(id="5.0.1")
        div.tiles-inactive(id="5.0.2")
        div.tiles-inactive(id="5.0.3")
        div.tiles-inactive(id="5.0.4")
        div.tiles-inactive(id="5.0.5")
      
      div.spacer
      
      // 4 letter 2
      div.fire#fire421
        div.tiles-inactive(id="4.2.1")
        div.tiles-inactive(id="4.2.2")
        div.tiles-inactive(id="4.2.3")
        div.tiles-inactive(id="4.2.4")
      
      div.spacer
      
      // 3 letter 2
      div.fire#fire321
        div.tiles-inactive(id="3.2.1")
        div.tiles-inactive(id="3.2.2")
        div.tiles-inactive(id="3.2.3")
      div#upgrades
        div.spacer
        div.up#u31= gameState.fire31[3]
        div.spacer
        div.up#u41= gameState.fire41[4]
        div.spacer
        div.up#u50= gameState.fire50[5]
        div.spacer
        div.up#u42= gameState.fire42[4]
        div.spacer
        div.up#u32= gameState.fire32[3]
    div
      button(type='button' id='next') Continue
    div
      button(type='button' id='gameover') Home
    if email
      div#login Logged in as #{email}
        span | Level #{gameState.level} | Phase #{gameState.phase} | 
        a.black(href='/logout') Log Out
        span  | 
        a.black(href='/') Home
    
    script(src='/javascripts/play.js')
