doctype html
html
  head
    title Level #{gameState.level} Phase #{gameState.phase}
    link(rel='stylesheet' href="/stylesheets/other.css")
    script(src='/javascripts/helpers.js')
    script(src="/javascripts/dictionary.js")
    script(src="/javascripts/alphabetDistribution.js")
    script(src='/javascripts/logic.js')
  body
    h2 Help the Robot Fill its Language Modules!
    div#timer
    canvas#bcanvas
    canvas#canvas
    div#under
      div.spacer
      
      // 3 letter 1
      div.fire#fire31
        div.tiles-inactive(id="t3110")
        div.tiles-inactive(id="t3120")
        div.tiles-inactive(id="t3130")
      
      div.spacer
      
      // 4 letter 2
      div.fire#fire41
        div.tiles-inactive(id="t4110")
        div.tiles-inactive(id="t4120")
        div.tiles-inactive(id="t4130")
        div.tiles-inactive(id="t4140")
      
      div.spacer
      
      //5 letter
      div.fire#fire50
        div.tiles-inactive(id="t5010")
        div.tiles-inactive(id="t5020")
        div.tiles-inactive(id="t5030")
        div.tiles-inactive(id="t5040")
        div.tiles-inactive(id="t5050")
      
      div.spacer
      
      // 4 letter 2
      div.fire#fire42
        div.tiles-inactive(id="t4210")
        div.tiles-inactive(id="t4220")
        div.tiles-inactive(id="t4230")
        div.tiles-inactive(id="t4240")
      
      div.spacer
      
      // 3 letter 2
      div.fire#fire32
        div.tiles-inactive(id="t3210")
        div.tiles-inactive(id="t3220")
        div.tiles-inactive(id="t3230")
        
      div#upgrades
        div.spacer
        div.up#u31= gameState.fire31[3]
        div.spacer
        div.up#u41= gameState.fire41[4]
        div.spacer
        div.up#u50= gameState.fire50[5]
        div.spacer
        div.up#u42= gameState.fire42[4]
        div.spacer
        div.up#u32= gameState.fire32[3]
    div
      button(type='button' id='next') Continue
    div
      button(type='button' id='gameover') Home
    div
      if GameState.level < 4
        p Click individual tiles to lock or unlock them to form words.  
        p Once a word is locked in (purple), click again to inject into the robot when the robot is standing over the LIU.
    if email
      div#login Logged in as #{email}
        span | Level #{gameState.level} | Phase #{gameState.phase} | 
        a.black(href='/logout') Log Out
        span  | 
        a.black(href='/') Home
    
    script(src='/javascripts/play.js')
